.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.popup::before {
    content: '';
    background-color: #000;
    background-size: cover;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 488px) {
    .popup {
        padding-top: 69px;
        padding-left: 5.9%;
        padding-right: 5.9%;
        width: 430px;
    }
}

@media (min-width: 768px) {
    .popup {
        padding-left: 22%;
        padding-right: 22%;
        width: calc(100% - 44%);
    }
}

@media (min-width: 1024px) {
    .popup {
        padding-left: 29.004%;
        padding-right: 29.004%;
        width: calc(100% - 58%);
    }
}

@media (min-width: 1280px) {
    .popup {
        padding-left: 33.203125%;
        padding-right: 33.203125%;
        width: calc(100% - 61%);
    }
}