.profile__info {
  display: grid;
  padding-top: 25px;
  padding-bottom: 33px;
  grid-template-columns: 245px 1fr;
  margin: 0 auto;

}

@media (min-width: 1024px) {
  .profile__info {
    padding-top: 22px;
    padding-bottom: 25px;
    margin: 0;
    grid-template-columns: 312px 1fr;
  }
}
