.element__hearth {
  border: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  margin-right: 20px;
  margin-top: 22px;
  margin-bottom: 3px;
  justify-self: end;
  background-color: #fff;
  background-image: url(../../../images/hearth-disabled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

.element__hearth:hover {
  opacity: 0.5;
  cursor: pointer;
}
