.footer {
    width: calc(100% - 38px);
    max-width: 880px;
    padding: 48px 5.9375% 36px;
    color: #545454;
    display: flex;
    align-self: center;
}

@media (min-width: 768px) {
    .footer {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 60px;
        padding-top: 67px;
    }
}